@charset "UTF-8";

* {
  box-sizing: border-box; /* Faz a borda fazer parte do tamanho do elemento */
  margin: 0; /* Deixa a borda superior e da esquerda do container colada */
  padding: 0; /* Deixa zerada o conteúdo do "grid-item" */
}

.container {
  width: 100%; /* Ajusta a largura para ocupar o espaço total, independente do tamanho da tela. */
  height: 100vh; /* Ajusta a altura para ocupar o espaço total, independente do tamanho da tela. */
  display: grid;
  color: blue;
  grid-template-rows: 80px 40px 1fr 40px; /* "1fr" vai ocupar toda a altura e largura restante, independente do tamanho da tela. */
  grid-template-columns: 1fr 150px;
  gap: 5px;
}

.caixa {
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#topo {
  background-color: rgb(211, 211, 8);
  grid-area: 1 / 1 / 2 / 3;
}

#menu {
  background-color: rgb(97, 122, 97);
  grid-area: 2 / 1 / 3 / 3;
}

#principal {
  background-color: rgb(130, 130, 187);
  grid-area: 3 / 1 / 4 / 2;
}

#secundario {
  background-color: rgb(143, 21, 21);
  grid-area: 3 / 2 / 4 / 3;
}

#rodape {
  background-color: rgb(184, 143, 143);
  grid-area: 4 / 1 / 5 / 3; 
}