* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 40px 1fr 40px;
  grid-template-columns: 1fr 150px;
  gap: 5px;
}

.caixa {
  background: lightgray;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#topo {
  background: blue;
  grid-area: 1 / 1 / 2 / 3;
}

#menu {
  background: gray;
  grid-area: 2 / 1 / -3 / -1;
}

#principal {
  background: lightgreen;
  grid-area: 3 / 1 / -2 / -2;
}

#secundario {
  background: yellowgreen;
  grid-area: 3 / -2 / -2 / -1
}

#rodape {
  background: lightcoral;
  grid-area: -2 / -3 / -1 / -1;
}