@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color:black;
}

body {
  background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height:100vh;
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Compensa o "top" e o "left". */

  height: 627px;
  width: 311px;
  background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela { /* "iframe" de id(#) "tela" */
  position: relative;
  top: 80px;
  left: 22px;
  width: 267px;
  height: 471px;
}

section#redes-sociais {
  text-align: right; /* alinha os icones à direita. */
}

section#redes-sociais img {
  width: 50px;
  margin: 10px; /* Espaço entre um ícone e outro. */
  border-radius: 50%; /* Torna a imagem redonda */
  box-shadow: 2px 2px 5px rgba(0, 0, 0 , 0.400); /* Deslocamento horizontal da sombra / deslocamento vertical da sombra / desfoque da sombra(quanto maior mais suave) / cor */
  box-sizing: border-box; /* Faz a borda se tornar uma coisa só com a imagem(box) */
}

section#redes-sociais img:hover {
  border: 2px solid rgba(255, 255, 255, 0.637);; /* Para não mover as imagens e a borda fazer parte da caixa tem que acrescentar "box-sizing" em "Section#redes-sociais img" */
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0 0.623);
  transition: transform .3s, border .5s;
}