@charset "UTF-8";

/* Versão Mobile First */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /* Inclui a borda no cálculo do tamanho. */
}

body, html {
  height: 100vh;
}

body {
  background: black url(../imagens/back-phone.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

main {
  background-color: rgba(255, 255, 255, 0.842);
  width: 400px;
  margin: auto; /* Distribui as margens esquerda/direita igualmente e centraliza-o horizontalmente. */
  margin-top: 20px; /* Espaçamento de 20px no topo do "main". */
  border-radius: 10px; /* Arredonda os cantos do elemento com raio de 10 pixels. */
  padding: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

img {
  display: block;
  margin: auto;
}

img#phone { /* tag "img" de "id"=phone */
  display: block; /* Faz o elemento se comportar como um bloco, ou seja, inicia em nova linha e ocupa a largura total disponível (por padrão) */ 
}

img#tablet {
  display: none; /* Esconde a imagem de id = tablet */
}

img#print {
  display: none; /* Esconde a imagem de id = print */
}

img#pc {
  display: none; /* Esconde a imagem de id = pc */
}

img#tv {
  display: none; /* Esconde a imagem de id = tv */
}

