.container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.caixa1 {
  background-color: red;
  grid-row: 1 / 2; /* Pode ser "1 / span 1;". "span" de expandir. */
  grid-column: 1 / 5; /* poderia ser "1 / -1" ou "1 / span 4". */
}

.caixa2 {
  background-color: green;
  grid-row: 2 / 4; /* ou "2 / -1" ou "2 / span 2" */
  grid-column: 1 / 3; /* ou "1 / -3" ou "1 / span 2" */
}

.caixa3 {
  /* background-color: blue;
  grid-row-start: 2;
  grid-row-end: 4; /* Pode ser "-1" também. */
  /* grid-column-start: 3;
  grid-column-end: 5; /* Pode ser '-1' também */ 

  background-color: blue;
  grid-row: 2 / 4; /* Pode ser "2 / -1" ou "2 / span 2" */
  grid-column: 3 / -1; /* Pode ser "3 / 5" ou "1 / span 2;" ou "3 / span 32" */
}