.container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.caixa1 {
  background-color: red;
  grid-area: 1 / 1 / 2 / 5; /* Na ordem: row-start  / column-start / row-end / column-end */
} /* Pode ser também: " 1 / 1 / span 1 / span 4" */

.caixa2 {
  background-color: green;
  grid-area: 2 / 1 / 4 / 3; /* Pode ser: "2 / 1 / span 2 / span 2" */
}

.caixa3 {
  background-color: blue;
  /* grid-row: 2 / 4; /* Pode ser "2 / -1" ou "2 / span 2" */
  /* grid-column: 3 / -1; /* Pode ser "3 / 5" ou "1 / span 2;" ou "3 / span 32" */

  grid-area: 2 / 3 / 4 / -1; /* Pode ser: "2 / 3 / span 2 / span 2" */
}